* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body {
    #card {
        width: 300px;
        height: 70vh;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.674);
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            width: 100%;
            height: 65%;
            object-fit: cover;
            
        }
        #info {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
        }
        #name {
            font-size: 40px;
        }
        #status {
            font-size: 20px;
            color: red;
        }
        #buttons {
            #friend {
                width: 45%;
                height: 40px;
                background-color: #1877f2;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                color: white;
                cursor: pointer;
            }


        }
    }
}