* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow: hidden;

    #main {
        height: 100vh;
        width: 100vw;
        background-color: #222;
        position: relative;
        display: flex;
        flex-direction: column;
        
        .elem {
            flex: 1;
            border-bottom: 3px solid #fff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10px;
            
            position: relative;
            h5 {
                font-size: 5vw;
                font-weight: 900;
                z-index: 2;
                mix-blend-mode: difference;
            }

            img {
                height: 200px;
                width: 200px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
                position: fixed;
                opacity: 0;
                transition: opacity linear 0.3s, scale linear 0.3s;
                // transform: translate(-50%,-50%);
                scale: 0;
                pointer-events: none;
            }
        }

    }

}