* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(137, 240, 19);
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;

    #main {
        height: 100%;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 22vw;
            font-weight: 900;
            line-height: 0.7;
        }
        #cursor {
            height: 80px;
            width: 80px;
            background-color: rgb(137, 240, 19);
            border-radius: 50%;
            position: absolute;
            transition: all .1s ease;
            mix-blend-mode: difference;
        }
    }
}