* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;

}
.card{
  background-color: blueviolet;
  padding: 20px;
  color: white;
  text-align: center;
}