* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: arial;
    #container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 70px;
        }

        #buttons {
            button {
                margin: 10px;
                padding: 10px 20px;
                font-size: 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                background-color: white;
                color: black;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: rgb(71, 70, 70);
                    color: white;
                }

                &:active {
                    transform: scale(0.95);
                }
            }

        }
    }
    
    
}