* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;

    #card {
        height: 480px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        #full-screen {
            height: 100%;
            width: 100%;
            position: absolute;
            display: none;
            background-size: cover;
            background-position: center;
        }

        #storyian {
            height: 100px;
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #dadada;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                display: none;
            }


            .story {
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: 3px solid #ff004f;
                overflow: hidden;
                display: inline-block;
                margin-right: 10px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}