* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(16, 15, 15);
  color: white;
}
@mixin flex-column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
main {
  width: 100%;
  padding: 1rem;
  section {
    width: 100%;
    @include flex-column(0.8rem);
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
    .bottom {
      @include flex-column($gap: 3rem);
      background-color: rgb(28, 28, 28);
      border-radius: 1rem;
      padding: 2rem;
    }
    .text {
      @include flex-column(1.5rem);
      h1 {
        font-weight: 200;
        font-size: 2.5rem;
      }
      p {
        font-weight: 100;
        font-size: 1.3rem;
        line-height: 2rem;
        opacity: 0.6;
      }
      button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1rem;
        border: 2px solid white;
        color: rgb(250, 250, 250);
        background-color: transparent;
      }
    }
  }
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    text-align: center;
    padding: 2rem;
    h4 {
      font-weight: 500;
      opacity: 0.6;
    }
    span {
      font-size: 2.5rem;
    }
  }
  #second-p,
  #third-p {
    font-size: 1.2rem;
  }
  #second-h1,
  #third-h1 {
    font-size: 2.5rem;
  }
  #second-bottom,
  #third-bottom {
    padding: 2rem;
  }
  #third {
    margin-top: 1rem;
  }
  #our-team {
      padding: 2rem 1rem;
      font-size: 2rem;
      font-weight: 300;
    }
  #fourth {
    @include flex-column(1rem);
    width: 100%;
    .card {
      width: 100%;
      background-size: cover;
      aspect-ratio: 1/1;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      font-size: 1.3rem;
      font-weight: 100;
      p {
        text-transform: uppercase;
      }
      .top {
        display: flex;
        justify-content: flex-end;
        gap: .7rem;
        
        .icon {
          border: 1px solid rgba(188, 187, 187, 0.326);
          padding: .7rem;
          background-color: rgba(75, 74, 74, 0.565);
          border-radius: 50%;
          backdrop-filter: blur(5px);
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(188, 187, 187, 0.326);
        border-radius: .2rem;
        padding: 1rem;
        background-color: rgba(75, 74, 74, 0.565);
        backdrop-filter: blur(10px);
      }

    }
    #card1 {
      background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
    }
    #card2 {
      background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
    }
    #card3 {
      background-image: url(https://cdn.prod.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
    }
  }
  #fifth {
    margin-top: 1rem;
    .bottom {
      .join {
        @include flex-column(1rem);

        p {
          opacity : 0.6;
        }
        h4 {
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1rem;
        border: 2px solid white;
        color: rgb(250, 250, 250);
        background-color: transparent;
      }
      
    }
  }

      
}



@media (min-width: 992px) {
  main {
    section {
      height: 100%;
      width: 100%;
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 4rem;
        .text {
          gap: 2rem;
          h1 {
            font-size: 4rem;
          }
          p {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
    }
    .info {
      display: flex;
      justify-content: space-around;
      padding: 3rem 0;
      h4 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
      }
      span {
        font-size: 4rem;
      }
    }
    #fourth {
      flex-direction: row;
    }
    #second {
      flex-direction: row-reverse;
      p {
        display: flex;
        gap: 1.2rem;
      }
    }
    #third {
      p {
        display: flex;
        gap: 1.2rem;
      }
    }
  }
}
