* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(16, 15, 15);
  color: white;
}

@mixin flex-column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  width: 100%;
  padding: 1.5rem;

  section {
    width: 100%;
    @include flex-column();
    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .bottom {
      @include flex-column($gap: 3rem);
      background-color: rgb(50, 49, 49);
      border-radius: 1rem;
      padding: 2rem;
    }
    .text {
      @include flex-column();
      h1 {
        font-weight: 200;
        font-size: 1rem;
      }
      p {
        font-weight: 100;
        font-size: .5rem;
        line-height: 1rem;
        opacity: 0.6;
      }
      button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1rem;
        border: 2px solid white;
        color: rgb(250, 250, 250);
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    section {
      height: 100%;
      width: 100%;
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4rem;

        .text {
          gap: 2rem;
          h1 {
            font-size: 4rem;
          }
          p {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
