* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    #container {
        background-color: white;
        height: 500px;
        width: 400px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position:center;
        }
        i {
            color: red;
            position: absolute;
            font-size: 80px;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%,-50%) scale(0);
            transition: transform 0.4s ease-in-out;
        }
    }
}

