* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@mixin ration(){
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
html, body, #root, .container{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        h1 {
            font-size: 30px;
        }
        .nav-links {
            display: flex;
            gap: 20px;
            align-items: center;
            button {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                background-color: white;
                border: 1px solid black;
                border-radius: 30px;
                cursor: pointer;
            }
            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-weight: 100;
            }
        }
        .book {
            padding: 10px 20px;
                font-size: 16px;
                border: none;
                background-color: rgb(0, 0, 0);
                color: white;
                border-radius: 30px;
                cursor: pointer;
        }
    }
    .center-section {
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 200px;
        height: 90vh;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        background-image: url(https://horizoncourts.vercel.app/assets/hero-D_5d4lxE.webp);
        background-size: cover;
        background-position:top;
        
        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: rgb(250, 249, 249);

            h1 {
                font-size: 50px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
            p {
                font-size: 20px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            }
            button {
                padding: 15px 30px;
                font-size: 18px;
                border: none;
                background-color: rgb(11, 11, 38);
                color: rgb(254, 254, 254);
                border-radius: 30px;
                cursor: pointer;
            }
        }

    }   
    .about {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        p {
            width: 50%;
            font-size: 25px;
            line-height: 1.6;
        }
        div {
            width: 50%;
            button {
                padding: 10px 20px;
                font-size: 25px;
                border: none;
                background-color: white;
                border: 1px solid black;
                border-radius: 30px;
                cursor: pointer;
            }
        }
    }
    .card-section {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .card1 {
            @include ration();
            overflow: hidden;
            color: white;
            background-color: rgb(11, 19, 38);
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            i {
                font-size: 50px;
                
            }
            p {
                font-size: 30px;
                font-weight: 100;
                span {
                    color: rgb(75, 92, 110);
                }
            }
            button {
                padding: 10px 20px;
                font-size: 25px;
                border: none;
                background-color: rgb(9, 139, 232);
                border-radius: 30px;
                color: white;
                cursor: pointer;
            }
            
        }
        .card2 {
            @include ration();
            background-size: cover;
            background-image: url(https://plus.unsplash.com/premium_photo-1661897444024-85bc519db396?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-position: center;    
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            button {
                padding: 10px 20px;
                font-size: 25px;
                border: none;
                color: white;
                background-color: transparent;
                border: 1px solid rgb(255, 255, 255);
                
                border-radius: 30px;
                cursor: pointer;
            }
        }
    }
    
}